<div class="col s12 m3">
    <div class="card">
        <div class="card-image">
            <img src="images/zelt.jpg">
        </div>
        <div class="card-content center-align">
                
            <b><p>ZELT CLUB </p></b>
            <b><p>Maio/12 - Sábado</p></b>
            <hr>
            <b>O QUE TOCA:</b>
            <br><br>
            <li>Funk</li>
            <li>Eletronica</li>
            <hr>
            <b>ENTRADA:</b>
            <br><br>
            <li>Homem sem lista: 60,00</li>
            <li>Homem com lista: 40,00</li>
            <li>Mulher sem lista: 20,00</li>
            <li>Mulher com lista : 10,00</li>
        </div>
        <div class="card-action green center-align">
            <a href="#"><span style="color: white; font-weight: bold; font-size: 20pt;">10,00 - COMPRAR</span></a>
        </div>
        <hr>
        <hr>
        <hr>
        <hr>
    </div>
</div>
    