
<div class="row">
  <div class="col s12 m6">
    <div class="card" style="background-image: url('images/balada.jpg')">     
      <div class="card-content white-text">
        <span class="card-title" style="font-weight: bold; font-size: 28pt">{{event.name}}</span>
        <p style="font-weight: bold; font-size: 12pt; margin-bottom: 8px; margin-top: -8px;">{{event.venue.name}}/SP</p>
        <p style="font-weight: bold; font-size: 12pt">Inicio: {{eventStartsDate}} ás {{eventStartsTime}}</p>
        <p style="font-weight: bold; font-size: 12pt; margin-top: -5px">Termina: {{eventEndsDate}} ás {{eventEndsTime}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  
    <!-- <div type="circle" ng-repeat="tab in tabs.tabs">
      <i class="small material-icons">local_bar</i>
      <span style="font-size: 18pt;">{{tab.item.name}} - {{tab.price}} -> 02:32</span>   
    </div> -->
    <h3 class="center">Consumação</h3>
    <i class="small material-icons">local_bar</i>
    <span style="font-size: 18pt">Caipirinha - 16,00 -> 01:02</span><br>
    <i class="small material-icons">local_dining</i>
    <span style="font-size: 18pt">Batata Frita - 16,00 -> 03:12</span><br>
    <i class="small material-icons">local_bar</i>
    <span style="font-size: 18pt">Suco de laranja - 8,00 -> 04:02</span>
    <hr>
    <i class="small material-icons">attach_money</i>
    <span style="font-size: 18pt; font-weight: bold">54,00</span>
    <p style="color: red">Aguardando acertar</p>
  
</div>
  
<!-- 
<div class="row" style=" position: fixed; bottom: 0; width: 100%;">
  <div class="col s12 m6">
    <div class="card light-blue lighten-3">
      <div class="card-content white-text">
        <span class="card-title" style="font-size: 22pt"><b>Total Consumido</b> - 54,00</span>
        <p style="color: red">Aguardando acertar</p>
      </div>
    </div>
  </div>
</div> -->
