    <!-- TIMELINE -->
    <div class="row">
      <div class="col s12 m6">
        <div class="card  blue lighten-5">
          <div class="card-content white-text">
            <span class="card-title">Caipirinha - 12,00</span>
            <p>12/12/2018 - 00:21</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card  blue lighten-5">
          <div class="card-content white-text">
            <span class="card-title">Agua - 6,00</span>
            <p>12/12/2018 - 01:21</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card  blue lighten-5">
          <div class="card-content white-text">
            <span class="card-title">Combo Smirnoff + 4 Red Bulls - 400,00</span>
            <p>12/12/2018 - 02:45</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col s12 m6">
        <div class="card  blue lighten-5">
          <div class="card-content white-text">
            <span class="card-title">Agua - 6,00</span>
            <p>12/12/2018 - 03:55</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card  blue lighten-5">
          <div class="card-content white-text">
            <span class="card-title">Total Consumido - 424,00</span>
            <p style="color: red">Aguardando acertar</p>
          </div>
        </div>
      </div>
    </div>
      
    <!--FIM TIMELINE-->
     

</body>