    <!-- TIMELINE -->
    <link src="css/timeline.css">
    
    <div class="center-align">
        <div class="card-panel grey darken-4">
            <h4 style="color: white; font-size: 30pt;">Consumo <img width="35" src="images/drooling.png"></h4>
        </div>
    </div>  

    <div class="timeline">
        <div class="container left">
          <div class="content">
            <h5>Dose pinga - 12,00</h5>
            <p>22/02/2018 - 23:57</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h5>Dose Tequila - 12,00</h5>
            <p>23/02/2018 - 02:01</p>
          </div>
        </div>
        <div class="container right">
            <div class="content">
              <h5>Agua - 6,00</h5>
              <p>23/02/2018 - 02:45</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h5>Combo garrafa smirnoff + 6 redbull - 400,00</h5>
              <p>23/02/2018 - 03:21</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h5>Agua - 6,00</h5>
              <p>23/02/2018 - 04:13</p>
            </div>
          </div>
      </div>
    <!--FIM TIMELINE-->
     

</body>