<div class="container">
    <h5 class="center-align">Parabéns  {{name}}!!!</h5>
    <!-- <p class="flow-text center-align"> Ja pode apresentar o giphy no app e retire sua tequila!</p> -->
    <p class="flow-text center-align"> APROVEITE A FESTA!</p>
<div style="width:100%;height:0;padding-bottom:77%;position:relative;">
    <iframe src="https://giphy.com/embed/CzhP730IcCMfe" width="100%"  style="height: 100vmin" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>

</div>

       


