<!--COMECA VIEW CONVITES.INDEX-->
  
<div class="row">
<div class="col s12 m3">
<div class="card">
    <div class="card-image">
        <img src="images/haules.jpg">
    </div>
    <div class="card-content">
        <p>MAIO/3 - TERÇA</p>
        <p>Bar do Haules</p>
    </div>
    <div class="card-action center-align">
        <a href="#"><span style="color: #4db6ac; font-weight: bold; font-size: 20pt;">VIP</span></a>
    </div>
</div>
</div>


<div class="col s12 m3">
<a href="zeltCard.html">
    <div class="card">
        <div class="card-image">
            <img src="images/zelt.jpg">
        </div>
        <div class="card-content">
            <p>MAIO/12 - SÁB</p>
            <p>Zelt club</p>
        </div>
        <div class="card-action center-align">
            <a href="#"><span style="color: #4db6ac; font-weight: bold; font-size: 20pt;">50%</span></a>
        </div>
    </div>
</a>
</div>

<div class="col s12 m3">
<div class="card">
    <div class="card-image">
        <img src="images/santo-cupido.jpg"> 
    </div>
    <div class="card-content">
        <p>MAIO/21 - SEXTA</p>
        <p>Santo Cupido Bar</p>
    </div>
    <div class="card-action center-align">
        <a href="#"><span style="color: #4db6ac; font-weight: bold; font-size: 20pt;">50%</span></a>
    </div>
</div>
</div>

<div class="col s12 m3">
<div class="card">
    <div class="card-image">
        <img src="images/d-edge.png">
    </div>
    <div class="card-content">
        <p>MAIO/12 - SÁB</p>
        <p>D-Edge</p>
    </div>
    <div class="card-action center-align">
        <a href="#"><span style="color: #4db6ac; font-weight: bold; font-size: 20pt;">VIP</span></a>
    </div>
</div>
</div>
</div>
<!-- /TERMINA VIEW CONVITES-->