<div class="container">
    <div class="center-align" style="margin-bottom: 22px">
        <h3 style="font-weight: bold">BEM VINDO !</h3>
    </div>
    <a ui-sref="login">
        <div class="card">
            <div class="card-content blue lighten-5" style="height: 100px;">
                <div>
                    <h5 class="center-align" style="font-size: 15pt; color: #000000">TENHO CADASTRO</h5>
                </div>
            </div>
        </div>
    </a>
    <a ui-sref="register">
        <div class="card">
            <div class="card-content pink lighten-5" style="height: 100px;">
                <div>
                    <h5 class="center-align" style="font-size: 15pt; color: #000000">NÃO TENHO CADASTRO</h5>
                </div>
            </div>
        </div>
    </a>
</div>