<div class="container">
    <div class="col s12 m3">
        <div class="center">
            <h3>Escolha uma senha</h3>
        </div>
        <form name="newPatron">
            <div class="form-group">
                <div class="form-control col s3">
                    <input type="password"  id="pass" name="pass" ng-model="pass" style="font-size: 45pt; text-align: center" />
                </div>
            </div>
            <br>
            <div class="row">
                <div style="background-color: green; height: 50px;" class="center">
                    <a href='#' style="font-size: 22pt; color: white">ENTRAR</a>
                </div>
            </div>
        </form>
    </div>
</div>
{{newPatron.senha}}