<div class="container">
    <div class="col s12 m3" style="margin-top: 130px">
        <form name="password">
            <div class="input-field col s12">
                <input type="password"  id="pass" name="pass" ng-model="pass" style="font-size: 45pt; text-align: center" />
                <label for="pass" style="color: #03a9f4">Escolha sua nova senha...</label>
            </div>
            <br>
            <div class="row">
                <div style="background-color: #4caf50; height: 50px;" class="center">
                    <a href='#' style="font-size: 22pt; color: white" ng-click="setNewPassword()">ENVIAR</a>
                </div>
            </div>
        </form>
    </div>
</div>
{{newPatron.senha}}
{{patronData.id}}
