
<ul class="collection"  style="padding-top: 15px; margin-top: -14px">
    <li class="collection-item avatar">
        <img src="images/atomo.jpg" alt="" class="circle">
        <span class="title">{{name}}</span>
        <p>21 anos </p>
    </li>
</ul>    


<div class="collection" style="margin-top: -14px">
    <a ui-sref="resgisterCard({pId2: {{id}}})" class="collection-item"><span class="badge"><i class="small material-icons">credit_card</i></span>Cadastrar cartão</a>
    <a ui-sref="myGifts({patronId: '{{id}}' })" class="collection-item"><span class="badge"><i class="small material-icons">card_giftcard</i></span>Presentes Aceitos</a>
    <a href="" class="collection-item"><span class="badge"><i class="small material-icons">help</i></span>Ajuda e Suporte</a>
    <a href="" class="collection-item"><span class="badge"><i class="small material-icons">exit_to_app</i></span>Logout</a>
</div>