
    <ul class="collection"  style="padding-top: 15px;">
        <li class="collection-item avatar">
            <img src="images/atomo.jpg" alt="" class="circle">
            <span class="title">Juliete Campos</span>
            <p>21 anos </p>
            <span class="secondary-content">
                <img width="23" src="images/silverStar.png">
                <img width="23" src="images/silverStar.png">
                <img width="28" src="images/star.png">
                <img width="28" src="images/star.png">
            </span>
        </li>
    </ul>    


<div class="collection">
    <a href="#!" class="collection-item"><span class="badge"><img width="25" src="images/card.png"></span>Cadastrar cartão</a>
    <a href="#!" class="collection-item">Ajuda e Suporte</a>
    <a href="#!" class="collection-item">Logout</a>
  </div>