<div class="container">
    <div class="col s12 m3">
        <div class="center">
            <h2>Insira o código</h2>
        </div>
        <form>
            <div class=" row">
                    <div class="form-group">
                        <div class="form-control col s3">
                            <input type="text" id="first" maxlength="1" style="font-size: 24pt; text-align: center" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control col s3">
                            <input type="text" id="second" maxlength="1" style="font-size: 24pt; text-align: center">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control col s3">
                            <input type="text" id="third" maxlength="1" style="font-size: 24pt; text-align: center">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control col s3">
                            <input type="text" id="fourth" maxlength="1" style="font-size: 24pt; text-align: center">
                        </div>
                    </div>
                
            </div>
            <div class="row">
                <div style="background-color: green; height: 50px;" class="center">
                    <a href='#' style="font-size: 22pt; color: white">ENVIAR</a>
                </div>
            </div>
        </form>
    </div>
</div>    

<script>
    
        $('#first').val('t');

</script>