<div class="container">
    <div class="col s12 m3">
        <div class="center">
            <h2>Insira o código</h2>
            {{resultado}}
        </div>
        <form name="patronCode">
            <div class="row">
                    <div class="form-group">
                        <div class="form-control col s12">   
                            <input type="text" class="registerButton" id="code" ng-model="code" maxlength="4" style="font-size: 24pt; text-align: center;" />
                        </div>
                    </div>
                
            </div>
            <div class="row">
                <div style="background-color: green; height: 50px;" class="center">
                    <a href='#' ng-click="getPatron()" style="font-size: 22pt; color: white">ENVIAR</a>
                </div>
            </div>
        </form>
        
    </div>
</div>


