<div>
        <div class="row">
                <div class="col s12 m6">
                    <div class="card" style="height: 75px; background-image: url('images/galaxy.jpg')">
                        <div class="card-content white-text">
                            <span class="card-title center" style="font-size: 22pt; position: relative;"><b>CADASTRAR CARTÃO</b></span>
                        </div>
                    </div>
                </div>    
            </div>
    <form name="ticket">
        <div class="input-field col s12">
                <select>
                <option value="" disabled selected>Selecione o cartão</option>
                <option value="1">Master Card</option>
                <option value="2">Visa</option>
                <option value="3">Amex</option>
                </select>
        
        </div>
        <div class="row">
            <div class="input-field col s12">   
                <input type="text" class="registerButton" id="cardNumber" placeholder="Nº do Cartão" ng-model="cardNumber" style="font-size: 18pt; padding:2px; text-align: center; color: #03a9f4  " />
                <!-- <label for="code" style="color:#03a9f4 ">Nº do Cartão</label> -->
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">   
                <input type="text" class="registerButton" placeholder="Mês de exp." id="monthExpiration" ng-model="monthExpiration" maxlength="2" style="font-size: 18pt; padding:2px; text-align: center; color: #03a9f4  " />
                <!-- <label for="code" style="color:#03a9f4 ">Mês de expiração</label> -->
            </div>
            <div class="input-field col s6">   
                <input type="text" class="registerButton" placeholder="Ano de exp." id="yearExpiration" ng-model="yearExpiration" maxlength="4" style="font-size: 18pt; padding:2px; text-align: center; color: #03a9f4  " />
                <!-- <label for="code" style="color:#03a9f4 ">Ano de expiração</label> -->
            </div>
        </div>
        <br>

        <p><b>Informamações do cliente:</b></p>
        <div class="row">
                <div class="input-field col s12">   
                    <input type="text" class="registerButton" id="patronAddress"  style="font-size: 22pt; padding:2px; text-align: center; color: #03a9f4  " />
                    <label for="code" style="color:#03a9f4 ">Endereço:</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">   
                    <input type="text" class="registerButton" id="patronDoc" maxlength="2" placeholder="CPF" style="font-size: 18pt; padding:2px; text-align: center; color: #03a9f4  " />
                    <!-- <label for="code" style="color:#03a9f4 ">Cpf</label> -->
                </div>
            </div>    
        <div class="row">
            <div style=" height: 50px; background-color: #4caf50 " class="center">
                <a href='#' ng-click="buyTicket()" style="font-size: 22pt; color: white">CADASTRAR</a>
            </div>
        </div>
    </form>
</div>