<div class="container">
    <div class="center-align">
        <h2 >Bem vindo!</h2>
        <p class="flow-text">
            Para instalar o aplicativo no seu celular é muito simples, 
            basta adicionar esta página à tela inicial do seu aparelho e pronto!
            <img src="images/wink.png" width="22" >
        </p>
        
        <p class="flow-text" >
            A GeniusParty existe para acabar com a chatisse das filas nas baladas,
            melhorar sua experiência nas noites e mudar a forma como as pessoas lidam com eventos 
        </p>
    </div>
</div>  

